html, body{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, white, skyblue);
}
body > div, body > form > div{
	text-align: left;
	padding: 3px 10px 3px 0;
	font-family: "Time New Roman";
	font-size: 15px;
}
.title{
	padding-bottom: 15px;
	font-size: 25px;
	color: #0086bd;
}
input{
	background-color: #a4d5ff;
	border: 2px solid #5d5dde;
	width: 100px;
}
.input-small{
	width: 60px;
}
input:hover, .input-small:hover{
	border: 2px solid #8d8de8;
}
.input-radio{
	background-color: none;
	border: none;
	width: auto;
}
button{
	margin-top: 5px;
	width: 100px;
	height: 30px;
	font-size: 13px;
	background-color: #1f8eec;
	border: 1.5px solid black;
	color: white;
	cursor: pointer;
}
button:hover{
	background-color: #67afec;
}
#elem_n{
	display: none;
}